{
  "openapi": "3.0.0",
  "info": {
    "title": "API Backend Ambilin",
    "version": "1.0.0",
    "description": "Dokumentasi API untuk aplikasi manajemen pengambilan sampah"
  },
  "servers": [
    {
      "url": "https://ambilin.kodetalma.my.id",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id_user": { "type": "integer", "example": 12 },
          "nama": { "type": "string", "example": "Budi Santoso" },
          "email": { "type": "string", "example": "budi@gmail.com" },
          "id_role": { "type": "integer", "example": 3 }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id_user": { "type": "integer", "example": 12 },
          "nama": { "type": "string", "example": "Budi Santoso" },
          "email": { "type": "string", "example": "budi@gmail.com" },
          "id_role": { "type": "integer", "example": 3 },
          "foto": {
            "type": "string",
            "example": "https://res.cloudinary.com/dbhycng5p/image/upload/v1/profile.jpg"
          },
          "alamat": {
            "type": "string",
            "example": "Jl. Mastrip No. 164, Jember"
          },
          "nomor_telepon": { "type": "string", "example": "081234567890" },
          "latitude": { "type": "string", "example": "-8.123456" },
          "longitude": { "type": "string", "example": "113.123456" },
          "customer_profile": {
            "type": "object",
            "properties": {
              "id_customer": { "type": "integer", "example": 2 },
              "poin": { "type": "integer", "example": 150 },
              "is_member": { "type": "boolean", "example": false },
              "is_aktif": { "type": "boolean", "example": true },
              "expired_member_date": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": null
              }
            }
          }
        }
      },
      "JenisSampah": {
        "type": "object",
        "required": ["nama", "poin_per_kg"],
        "properties": {
          "id_jenis_sampah": { "type": "integer", "example": 1 },
          "nama": { "type": "string", "example": "Plastik PET" },
          "poin_per_kg": { "type": "integer", "example": 500 },
          "is_delete": { "type": "boolean", "example": false },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-01T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-01T10:00:00.000Z"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "error" },
          "message": {
            "type": "string",
            "example": "Terjadi kesalahan pada server"
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/register": {
      "post": {
        "summary": "Registrasi user baru",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama", "email", "password"],
                "properties": {
                  "nama": { "type": "string", "example": "Tunggul" },
                  "email": { "type": "string", "example": "tunggul@gmail.com" },
                  "password": { "type": "string", "example": "password123" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Registrasi berhasil" },
          "400": {
            "description": "Input tidak valid atau Email sudah terdaftar"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Login user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "example": "tunggul@gmail.com" },
                  "password": { "type": "string", "example": "password123" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login berhasil" },
          "400": { "description": "Password salah" },
          "404": { "description": "User tidak ditemukan" }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "summary": "Refresh Access Token",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Refresh token berhasil" },
          "401": { "description": "Refresh token dibutuhkan" },
          "403": { "description": "Refresh token tidak valid atau kadaluarsa" }
        }
      }
    },
    "/api/auth/logout": {
      "delete": {
        "summary": "Logout user",
        "tags": ["Auth"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Logout berhasil" },
          "401": { "description": "Akses ditolak, token tidak ditemukan" }
        }
      }
    },
    "/api/profile": {
      "get": {
        "summary": "Mendapatkan profil data lengkap berdasarkan user yang login",
        "tags": ["Profile"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Berhasil Mendapatkan Data Profil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": {
                      "type": "string",
                      "example": "Berhasil mendapatkan data profil"
                    },
                    "data": { "$ref": "#/components/schemas/Profile" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Token tidak dikirim atau sudah kadaluarsa"
          },
          "404": { "description": "Not Found - User tidak ditemukan" },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Memperbarui data profil user (Nama, No Telp, Alamat, Koordinat)",
        "tags": ["Profile"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": { "type": "string", "example": "Budi Santoso Edit" },
                  "nomor_telepon": {
                    "type": "string",
                    "example": "081222333444"
                  },
                  "alamat": {
                    "type": "string",
                    "example": "Jl. Kalimantan No. 37, Jember"
                  },
                  "latitude": { "type": "string", "example": "-8.156789" },
                  "longitude": { "type": "string", "example": "113.712345" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profil berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": {
                      "type": "string",
                      "example": "Profil berhasil diperbarui"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "nama": {
                          "type": "string",
                          "example": "Budi Santoso Edit"
                        },
                        "nomor_telepon": {
                          "type": "string",
                          "example": "081222333444"
                        },
                        "alamat": {
                          "type": "string",
                          "example": "Jl. Kalimantan No. 37, Jember"
                        },
                        "latitude": {
                          "type": "string",
                          "example": "-8.156789"
                        },
                        "longitude": {
                          "type": "string",
                          "example": "113.712345"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Token tidak dikirim atau sudah kadaluarsa"
          },
          "404": { "description": "Not Found - User tidak ditemukan" },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/api/profile/photo": {
      "put": {
        "summary": "Memperbarui/Mengganti foto profil user (Khusus Unggah Gambar)",
        "tags": ["Profile"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["foto"],
                "properties": {
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "File gambar profil baru (jpg/png)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Foto profil berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": {
                      "type": "string",
                      "example": "Foto profil berhasil diperbarui"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "foto": {
                          "type": "string",
                          "example": "https://res.cloudinary.com/dbhycng5p/image/upload/v1778269675/ambilin/avatars/user_12.png"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "File foto wajib diunggah" },
          "401": {
            "description": "Unauthorized - Token tidak ditemukan atau expired"
          },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/api/manajemen-akun": {
      "get": {
        "summary": "Mendapatkan daftar seluruh akun (Bisa difilter lewat query role)",
        "tags": ["Admin (Manajemen Akun)"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "Saring berdasarkan ID Role: 2 (Petugas) atau 3 (Customer)",
            "required": false,
            "schema": { "type": "integer", "example": 2 }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mendapatkan daftar akun",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Token tidak dikirim atau expired"
          },
          "403": { "description": "Forbidden - Khusus Admin Role 1" }
        }
      },
      "post": {
        "summary": "Membuat akun Petugas atau Customer baru langsung dari Panel Admin",
        "tags": ["Admin (Manajemen Akun)"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id_role", "nama", "email", "password"],
                "properties": {
                  "id_role": {
                    "type": "integer",
                    "description": "2 untuk Petugas, 3 untuk Customer",
                    "example": 2
                  },
                  "nama": { "type": "string", "example": "Driver Jono" },
                  "email": { "type": "string", "example": "jono@example.com" },
                  "nomor_telepon": {
                    "type": "string",
                    "example": "0812345678"
                  },
                  "password": { "type": "string", "example": "password123" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Akun baru berhasil dibuat oleh Admin" },
          "400": {
            "description": "Email sudah terdaftar atau input tidak lengkap"
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/manajemen-akun/{id_user}": {
      "put": {
        "summary": "Memperbarui data dasar user (Nama, Email, Telepon) lewat panel Admin",
        "tags": ["Admin (Manajemen Akun)"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_user",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID User yang akan dimodifikasi"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama", "email", "nomor_telepon"],
                "properties": {
                  "nama": { "type": "string", "example": "Driver Jono Edit" },
                  "email": {
                    "type": "string",
                    "example": "jono_baru@example.com"
                  },
                  "nomor_telepon": { "type": "string", "example": "0855667788" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Data user berhasil diperbarui" },
          "400": { "description": "Input data tidak lengkap" },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "summary": "Menonaktifkan akun secara soft delete (Mengubah status is_aktif menjadi 0)",
        "tags": ["Admin (Manajemen Akun)"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_user",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID User yang akan dinonaktifkan"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id_role"],
                "properties": {
                  "id_role": {
                    "type": "integer",
                    "description": "ID Role user saat ini (2/3)",
                    "example": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Akun berhasil dinonaktifkan (Soft Delete)" },
          "400": {
            "description": "id_role wajib disertakan / data tidak ditemukan"
          },
          "412": { "description": "Precondition Failed" }
        }
      }
    },
    "/api/setor": {
      "post": {
        "summary": "Mengajukan setoran sampah baru (Khusus Customer)",
        "tags": ["Setor Sampah"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["alamat", "foto"],
                "properties": {
                  "alamat": {
                    "type": "string",
                    "example": "Jl. Mastrip No. 164, Jember"
                  },
                  "latitude": { "type": "string", "example": "-8.123456" },
                  "longitude": { "type": "string", "example": "113.123456" },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "File gambar sampah (jpg/png)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Permintaan setor sampah berhasil dikirim",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Permintaan setor sampah berhasil dikirim",
                  "data": {
                    "id_setor": 15,
                    "foto_url": "https://res.cloudinary.com/demo/image/upload/v1234/ambilin/setor_sampah/example.jpg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Foto wajib diunggah atau input tidak valid"
          },
          "401": { "description": "Unauthorized" },
          "403": {
            "description": "Forbidden - Hanya role Customer yang diperbolehkan"
          },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/api/jenis-sampah": {
      "get": {
        "summary": "Mendapatkan daftar semua jenis sampah yang aktif (Public / Tanpa Token)",
        "tags": ["Jenis Sampah"],
        "responses": {
          "200": {
            "description": "Berhasil mengambil data jenis sampah",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": {
                      "type": "string",
                      "example": "Berhasil mengambil semua jenis sampah"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/JenisSampah" }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Menambahkan jenis sampah baru (Khusus Admin)",
        "tags": ["Jenis Sampah"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama", "poin_per_kg"],
                "properties": {
                  "nama": { "type": "string", "example": "Kardus Bekas" },
                  "poin_per_kg": { "type": "integer", "example": 700 }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Berhasil menambahkan jenis sampah baru" },
          "400": { "description": "Nama dan poin per kg wajib diisi" },
          "401": { "description": "Unauthorized - Token tidak valid" },
          "403": { "description": "Forbidden - Khusus Admin" }
        }
      }
    },
    "/api/jenis-sampah/{id_jenis_sampah}": {
      "put": {
        "summary": "Memperbarui data jenis sampah (Khusus Admin)",
        "tags": ["Jenis Sampah"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_jenis_sampah",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID Jenis sampah yang akan diubah"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama", "poin_per_kg"],
                "properties": {
                  "nama": {
                    "type": "string",
                    "example": "Kardus Bekas Premium"
                  },
                  "poin_per_kg": { "type": "integer", "example": 850 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Berhasil memperbarui data jenis sampah" },
          "400": { "description": "Input data tidak lengkap" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Jenis sampah tidak ditemukan" }
        }
      },
      "delete": {
        "summary": "Menghapus jenis sampah secara Soft Delete (Khusus Admin)",
        "tags": ["Jenis Sampah"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_jenis_sampah",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID Jenis sampah yang akan di-soft delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil menghapus jenis sampah (Soft Delete)"
          },
          "401": { "description": "Unauthorized" },
          "404": {
            "description": "Jenis sampah tidak ditemukan atau sudah dihapus"
          }
        }
      }
    }
  }
}
